<%= form_with(model: product, url: url) do |f| %>
<div class="col mb-3">
  <%= f.fields_for :attachments do |img| %>
    <%= render "attachment_fields", f: img %>
  <% end %>
  <%= link_to_add_association "新增檔案", f, :attachments, class: "btn btn-primary" %>
</div>
<div class="col mb-3">
  <%= f.label "商品名稱", class: "form-label" %> <%= f.text_field :name, class: "form-control", autofocus: true %>
</div>
<div class="col mb-3">
  <%= f.label "價格", class: "form-label" %> <%= f.number_field :price, class: "form-control", autofocus: true %>
</div>
<div class="col mb-3">
  <%= f.label "敘述", class: "form-label" %> <%= f.text_area :description, class: "form-control" %>
</div>
<div class="col mb-3">
  <%= f.label "庫存", class: "form-label" %> <%= f.number_field :sku, class: "form-control" %>
</div>
<div class="col"><%= f.submit class: "btn btn-primary" %></div>
<% end %>
